/* ------------------------------------ */
/* Imports */

@font-face { font-family: Notted; src: url("./assets/fonts/Notted-GOreO.otf"); } 
@font-face { font-family: Notted; font-weight: bold; src: url("./assets/fonts/Notted-GOreO.otf");}

/* ------------------------------------ */
/* Over-all adaptions */

html {
    scroll-behavior: smooth;
}

#benjamat-logo{
    color: #EEEEEE;
}

.nav-link, .lead{
    color: #EEEEEE;
}

p, h2, h3, li{
    font-family: 'Urbanist', sans-serif;
}

.btn{
    border-radius: 0%;
    font-family: 'Readex Pro', sans-serif;
    font-size: 9pt;
    text-transform: uppercase;
}

.nav-link:hover{
    color:#fab818;
}

.icon{
    display:flex;
    justify-content:center;
    align-items:center;
}

/* ------------------------------------ */
/* Home */
/* Dark-Grey: #171717*/
.section.front-page{

    background-color: #171717;
    color:#EEEEEE;
}

.sub-title{
    font-size: 23pt;
    font-weight:600;
}

.sub-title-line{
    background-color:#585858;
    width: 3px;
    height: 130px;
    position: relative;
    left: 5px;
}

.semicolon{
    color: #EEEEEE;
    font-size: 30px;
}

.frontend-color{
        color: #f7b337;

}

.uiux-color{
    color: #fa9018;

}

.artist-color{
    color: #f8cb91;

}

.hello{
    color: #9e9e9e;
} 


/* ------------------------------------ */
/* Portfolio */
section.portfolio{
    background-color: #EEEEEE;
    color: #171717;
    width: 100%;
}

#portfolio-sign{
    font-family: 'Monomaniac One', sans-serif;
    font-weight: lighter;
}

.badge{
    font-family: 'Readex Pro', sans-serif;
    text-transform: uppercase;
    font-size: 8pt;
}

.card{
    background-color: #dfa92b;
    color:#EEEEEE;
    border-style: none;
    width: 360px;
    height: 320px;
    border-radius: 0;
}


#latest{
    display: flex;
    justify-content: center;
    font-family: 'Readex Pro', sans-serif;
    text-transform: uppercase;
    font-size: 10pt;
    color:#585858;
    margin-top: 5px;
}

/* ------------------------------------ */
/* About */
.section.about{

    background-color: #c0c0c0;
}

.about-container{
    color:#171717;
}

#skills{
    display: flex;
    justify-content:center;
}

#skills h2{
    font-family: 'Readex Pro', sans-serif;
    text-transform: uppercase;
    font-size:13pt;
    color:#585858;
    margin-top: 7px;
}

/* ------------------------------------ */
/* Contact */
section.contact{
    background-color: #171717;
    color:#EEEEEE;
    padding-bottom: 5%;   
}

.footer{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;    
}

@media (max-width: 576px) {

    .footer{
        flex-direction: column-reverse;
        gap: 5px;
        
    }
}

/*--------------------------------------*/
/* Artworks */
.section.topnavbar{
    background-color: #171717;
    color:#EEEEEE;
}




  

